.nav {
  width: 100%;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2rem solid var(--accentColor);
  padding: 0 1rem;
}

.nav_-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
}

.nav_-logo {
  width: 2.5rem;
}

/*--------------------------------*\
    => Search Container
\*--------------------------------*/
.search_-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  margin: 0 0.5rem;
  height: 2.3rem;
}

.search_-input_-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 0.1rem solid var(--secondaryColor);
  border-radius: 2rem 0 0 2em;
  padding: 0.5rem 0;
  border-right: none;
  height: 100%;
}

.search_-input {
  margin-left: 1.5rem;
  width: 95%;
  background-color: transparent;
  border: none;
  color: white;
  height: 100%;
  font-size: var(--fontSmall);
}

.search_-input:focus {
  outline: none;
}

.search_-button_-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  border: 0.1rem solid var(--secondaryColor);
  border-radius: 0 2rem 2rem 0;
  background-color: var(--secondaryColor);
  height: 100%;
}

.search_-button {
  background-color: transparent;
  border: none;
  color: white;
  height: 100%;
  width: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*--------------------------------*\
    => Navigation Links Container
\*--------------------------------*/
.nav_-ul {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.nav_-ul li {
  list-style: none;
}

.nav_-ul li a {
  text-decoration: none;
  font-size: 1.1rem;
}

/*--------------------------------*\
    => Adjust nav with different Screen Sizes
\*--------------------------------*/
@media (min-width: 590px) {
  .nav_-brand {
    flex-direction: row;
    gap: 1rem;
    font-size: var(--fontLarge);
  }

  .nav_-logo {
    width: 4rem;
  }

  .search_-input_-container {
    border-radius: 3rem 0 0 3rem;
  }

  .search_-container {
    height: 4rem;
  }

  .search_-input {
    font-size: var(--fontLarge);
  }

  .search_-button_-container {
    width: 5rem;
    border-radius: 0 3rem 3rem 0;
  }

  .search_-button {
    width: 2.2rem;
  }

  .nav_-ul {
    flex-direction: row;
    gap: 2rem;
  }

  .nav_-ul li a {
    font-size: var(--fontLarge);
  }
}

@media (min-width: 954px) {
  .search_-container {
    width: 40rem;
  }
}
